.card-container {
  width: 300px;
  background-color: crimson;
  height: 450px;
  margin: 10px 0;
  border-radius: 4px;
}

.img-container {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.title-container {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container{
  padding: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.outer-cards-container {
  margin:10px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: navy;
  height: 50px;
  align-items: center;
}

.button {
  background-color: navy;
  color: white;
}